$backgroundWrapperColor: #373737;
$backgroundDarkGreyColor: #2e2e2e;
$backgroundLightGreyColor: #4a4a4a;
$backgroundFactoryUnitColor: linear-gradient(
	181deg,
	#4d4d4d 4.37%,
	#373737 103.8%
);
$addNewFactoryIconColor: #00b132;
$backgroundButtonColor: #51ab32;
$backgroundEditFormColor: linear-gradient(
	197.95deg,
	#4d4d4d 4.37%,
	#373737 103.8%
);
