@font-face {
	font-family: HelveticaThin;
	font-weight: thin;
	src: url(../assets/fonts/HelveticaThin.ttf);
}
@font-face {
	font-family: HelveticaLight;
	font-weight: light;
	src: url(../assets/fonts/HelveticaLight.ttf);
}
@font-face {
	font-family: HelveticaNormal;
	font-weight: normal;
	src: url(../assets/fonts/HelveticaRegular.ttf);
}
@font-face {
	font-family: HelveticaMedium;
	font-weight: medium;
	src: url(../assets/fonts/HelveticaMedium.ttf);
}
@font-face {
	font-family: HelveticaBold;
	font-weight: bold;
	src: url(../assets/fonts/HelveticaBold.ttf);
}
